@font-face {
  font-family: 'Consolas';
  font-display: fallback;
  src: url('../font/consola.ttf');
}

html {
  color: #333333;
  background: #ffffff;
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 500ms ease;
  font-family: Consolas, 'Microsoft YaHei', 'PingFang SC', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
}
body {
  max-width: 680px;
  padding: 0 14px;
  margin: 0 auto;
}
* {
  -webkit-tap-highlight-color: transparent;
}
ol,
ul {
  list-style: none;
}
p,
h1,
h2,
h3,
h4,
h5,
ul,
ol,
li,
blockquote {
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
input,
select,
textarea {
  font-family: inherit;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}
pre,
code {
  font-family: inherit;
}
input:-webkit-autofill {
  /* 自动填充的文本颜色 */
  -webkit-text-fill-color: #333333 !important;
  /* -webkit-text-fill-color: var(--text-color) !important; */

  /* 方式1：使用内阴影覆盖自动填充的背景色 */
  /* box-shadow: 0 0 0 1000px #ffffff inset !important; */

  /* 方式2：通过延迟一个月，取消自动填充的背景色 */
  -webkit-transition: background-color 2592000s ease-in-out 0s;
  transition: background-color 2592000s ease-in-out 0s;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #999999;
}
::selection {
  background-color: #4a4a4a;
  color: #f9f9f9;
}
.hover-underline {
  position: relative;
}
.hover-underline:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: #333333;
  visibility: hidden;
  transform: scaleX(0);
  transition: transform 200ms ease-in-out;
}
.hover-underline:hover:after {
  visibility: visible;
  transform: scaleX(1);
}
.header {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  flex-shrink: 0;
  margin-right: 10px;
  user-select: none;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
.header .menu {
  margin-right: -9px;
  text-align: right;
  user-select: none;
}
.header .menu a {
  display: inline-block;
  font-size: 16px;
  margin: 4px 9px;
  white-space: nowrap;
  user-select: auto;
}
.footer {
  padding: 15px 0;
  font-size: 14px;
}
.footer a {
  text-decoration: underline;
  color: #000000;
  padding: 0 4px;
  white-space: nowrap;
}
#to-top {
  position: fixed;
  z-index: 99;
  right: 16px;
  bottom: 12px;
  width: 34px;
  height: 34px;
  cursor: pointer;
  border-radius: 10%;
  background-color: #000000;
  opacity: 0.45;
  overflow: hidden;
  transform: translateY(66px);
  transition: transform 200ms ease-in-out;
}
#to-top.show {
  transform: translateY(0);
}
#to-top > span {
  display: block;
  width: 50%;
  height: 50%;
  position: absolute;
  left: 50%;
  top: 13px;
  transform: translateX(-50%) rotate(45deg);
}
#to-top > span:first-child {
  background-color: #ffffff;
}
#to-top > span:last-child {
  background-color: #000000;
  transform: translate(-50%, 16%) rotate(45deg);
}
@media screen and (max-width: 560px) {
  .header {
    padding: 35px 0 20px 0;
    justify-content: flex-start;
  }
  .header .menu {
    margin-right: -2px;
    text-align: left;
  }
  .header .menu a {
    margin: 2px 5px;
    font-size: 15px;
  }
}
/* Dark */

html {
  color: #c9d1d9;
  background: #0d1117;
}
html ::selection {
  background-color: #327bd4;
  color: #ffffff;
}
html ::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(153, 153, 153, 0.6);
}
html img {
  filter: brightness(0.8) contrast(1.2);
}
html .footer a {
  color: #58a6ff;
}
html .list-category div a {
  border-bottom: 1px solid #8b949e;
}
html .list-post li .date {
  color: #8b949e;
}
html .list-post li .categories a {
  color: #8b949e;
}
html .hover-underline:after {
  background-color: #c9d1d9;
}
html .page-post .title {
  color: #ffffff;
}
html .page-post img {
  box-shadow: none;
}
html .page-post code {
  background-color: rgba(240, 246, 252, 0.15);
  color: #c9d1d9;
}
html .page-post a {
  color: #58a6ff;
  border-bottom: 1px solid #58a6ff;
}
html .page-post strong,
html .page-post b {
  color: #ffffff;
}
html .page-post blockquote {
  border-left: 3px solid #3b434b;
  background-color: rgba(59, 67, 75, 0.15);
  color: #8b949e;
}
html .page-post .table-container {
  border: 1px solid #3b434b;
}
html .page-post table {
  border: 1px solid #3b434b;
}
html .page-post tr {
  border-bottom: 1px solid #3b434b;
}
html .page-post hr {
  background-color: #30363d;
}
html .page-post table tr:nth-child(even) {
  background-color: #161b22;
}

html .page-post iframe {
  opacity: 0.8;
}
html .page-search #search-input {
  color: #f0f6fc;
  border: 1px solid #21262d;
}
html .page-search #search-input::-webkit-input-placeholder {
  color: #c2c3c5;
}
html .page-search .list-search .content {
  color: #a6aeb7;
}
html #to-top {
  opacity: 0.6;
  background-color: #4c4c4c;
}
html #to-top > span:last-child {
  background-color: #4c4c4c;
}

